swagger: '2.0'
info:
  title: SIMS API
  description: Simple invoice management system api
  version: "1.0.0"
# the domain of the service
host: api.sims.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /login:
    post:
      summary: Bejelentkezés
      description: |
        Felhasználó beléptetése
      tags:
        - Users
      parameters:
          - name: username
            in: query
            description: Felhasználónév
            required: true
            type: string
          - name: password
            in: query
            description: Hashelt jelszó
            required: true
            type: string
      responses:
        200:
          description: Sikeres bejelentkezés
        default:
          description: Sikertelen bejelentkezés
          schema:
            $ref: '#/definitions/Error'
  /logout:
    post:
      summary: Kijelentkezés
      description: |
        Bejelentkezett felhasználó kijelentkeztetése
      tags:
        - Users
      responses:
        200:
          description: |
            Sikeres kijelentkezés
        default:
          description: |
            Sikertelen kijelentkezés
          schema:
            $ref: '#/definitions/Error'
  /persons:
    get:
      summary: Persons list
      description: |
        Visszaadja a bejelentkezett felhasználóhoz tartozó szeélyeket.
      tags:
        - Persons
      responses:
        200:
          description: An array of persons
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
        summary: Új személyt szúr a bejelentkezett felhasználóhoz
        description: |
          Elment egy személyt.
        parameters:
          - name: person
            in: body
            description: Felhasználó
            required: true
            schema: 
              $ref: '#/definitions/Invoice'
        tags:
          - Persons
        responses:
          200:
            description: Elmentett felhasználó
            schema:
              $ref: '#/definitions/Person'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /persons/{id}:
    get:
      summary: Persons 
      description: |
        Visszaadja a bejelentkezett felhasználóhoz tartozó szeélyeket.
      parameters:
        - name: id
          in: path
          description: Id szerint a felhasználó
          required: true
          type: number
          format: double
      tags:
        - Persons
      responses:
        200:
          description: Megfelelő személy
          schema:
            $ref: '#/definitions/Person'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: save person
      description: |
        Elment egy személyt.
      parameters:
        - name: id
          in: path
          description: Id szerint a felhasználó
          required: true
          type: number
          format: double
      tags:
        - Persons
      responses:
        200:
          description: Sikeres mentés
          schema:
            $ref: '#/definitions/Person'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: remove person
      description: |
        Kitöröl egy személyt.
      parameters:
        - name: id
          in: path
          description: Id szerint a felhasználó
          required: true
          type: number
          format: double
      tags:
        - Persons
      responses:
        200:
          description: Sikeres mentés
          schema:
            $ref: '#/definitions/Person'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /invoices:
    get:
      summary: Számla lista
      description: |
        Visszaadja a bejelntkezett felhasználó összes számláját.
      tags:
        - Persons
      responses:
        200:
          description: Számla lista
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
        summary: Új számlát szúr be
        description: |
          Egy még nem létező számlát beszúr.
        parameters:
          - name: invoice
            in: body
            description: Számla
            required: true
            schema: 
              $ref: '#/definitions/Invoice'
        tags:
          - Invoices
        responses:
          200:
            description: Beszúr egy számlát
            schema:
              $ref: '#/definitions/Invoice'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /invoices/{id}:
    get:
      summary: Egy számlát ad vissza 
      description: |
        Visszaadja a megfelelő Id-jó számlát.
      parameters:
        - name: id
          in: path
          description: Id szerinti számla
          required: true
          type: number
          format: double
      tags:
        - Invoices
      responses:
        200:
          description: Megfelelő számla
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Számla mentése
      description: |
        Megadott Id-val elmenti a számlát.
      parameters:
        - name: id
          in: path
          description: Id szerint a számla
          required: true
          type: number
          format: double
      tags:
        - Invoices
      responses:
        200:
          description: Sikeres mentés
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Kitöröli a megadott számlát
      description: |
        A megadott azonosítóval rendelkező számlát kitörli.
      parameters:
        - name: id
          in: path
          description: Id szerint a számla
          required: true
          type: number
          format: double
      tags:
        - Invoices
      responses:
        200:
          description: Sikeres mentés
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Person:
    type: object
    properties:
      id:
        type: number
        description: Egyedi azonosító.
      name:
        type: string
        description: Megjelenítendő név.
      username:
        type: string
        description: Felhasználó egyedi felhasználóneve.
      role:
        type: string
        description: Felhasználó jogosultsági szerepköre.
      password:
        type: string
        description: Felhasználó jelszava.
  Invoice:
    type: object
    properties:
      id:
        type: number
        description: Egyedi azonosító.
      fromAddress:
        type: string
        description: Kiállító cég címe
      fromName:
        type: string
        description: Kiállító cég neve.
      created:
        type: string
        description: Keletkezés dátuma.
      netAmount:
        type: number
        description: Nettó végösszeg
      tax:
        type: number
        description: Áfa tartalom
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
